{% extends 'Main/base.html' %}
{% load static %}
{% block links %} 
<link rel="stylesheet" href="{% static 'Education/css/style.css' %}">
{% endblock %}
{% block content %}

    <h1 id="hPavel">Павло Устич</h1>
    <h1 id = "hNazar">Назар Зозуля</h1>
    <h1 id = "hDanya">Кошнарьов Данило</h1>
    <h1 id="hUlyana">Ульяна Шамільова</h1>
    <p class = "Pavel">Навчаюсь у ліцеї сучасної освіти, <br>маю середні оцінки. <br> Улюблені предмети: Геометрія, <br>біологія та географія.</p>
    <p class = "Nazar"> Навчаюсь в <br>школі World It</p>
    <p class = "Danya">Навчаюсь у Дніпровському Ліцеї 31 <br> з поглибленим вивченням<br> математики.<br>Улюблені предмети:алгебра,<br>геометрія,англійська</p>
    <p class = "Ulyana"> Навчаюсь у ліцеї <br>інформаційних технологій, <br> маю досить добрі оцінки. <br>Улюблені предмети: алгебра,<br> інформатика<br>(програмування та IT)<br> та англійська мова.</p>

{% endblock %}