{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
    {% block links %}
    {% endblock %}

</head>
<body>
    <header>
        
        <div class="main-page">
            <a href="{% url 'main' %}"><h1>Головна сторінка</h1></a>
        </div>
        <div class="leisure-page">
            <a href="{% url 'leisure' %}"><h1>Дозвілля</h1></a>
        </div>
        <div class="hobby">
            <a href="{% url 'hobby' %}"><h1>Хоббі</h1></a>
        </div>
        <div class="education-page">
            <a href="{% url 'education' %}"><h1>Освіта</h1></a>
        </div>
        <div class="achievements-page">
            <a href="{% url 'achievements' %}"><h1>Сторінка досягнень</h1></a>
        </div>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <h1>Django Dev 7</h1>
    </footer>
</body>
</html>