{% extends 'Main/base.html' %}
{% load static %}
{% block links %} 
<link rel="stylesheet" href="{% static 'Hobby/css/style.css' %}">
{% endblock %}
{% block content %}

    <h1 id="hPavel">Павло Устич</h1>
    <h1 id = "hNazar">Назар Зозуля</h1>
    <h1 id = "hDanya">Кошнарьов Данило</h1>
    <h1 id="hUlyana">Ульяна Шамільова</h1>
    <p class = "Pavel">Я займаюсь програмуванням <br>у World IT. <br> Там багато цікавого,<br> вам теж раджу туди пійти.</p>
    <p class = "Nazar">Немає<br>(Він так сам сказав)<br>(не бийте палицями)</p>
    <p class = "Danya">Я  методист міжнародної категорії<br> з бальних танців</p>
    <p class = "Ulyana">Граю у настільні ігри, збираю пазли</p>

{% endblock %}

