{% extends 'Main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href=" {% static 'leisure/css/leisure.css' %} ">
{% endblock %}

{% block content %}
    <h1 class = "h1">Шамільова Уляна</h1>
    <h1 class = "h2">Устич Павло</h1>
    <h1 class = "h3">Назар Зозуля</h1>
    <h1 class = "h4">Кошнарьов Данило</h1>
    <p class = "p1"> У вільний час часто гуляю<br>на вулиці сама або з друзями,</br>та граю у мобільні ігри</br></p>
    <p class="p2">Граю у комп'ютерні ігри </p>
    <p class = "p3">Граю у комп'ютерні ігри також <br>іноді гуляю з друзями</br></p>
    <p class = "p4">У вільний час проводжу час з друзями <br> спілкуючись щодо Genshin Impact.</br> </p>

{% endblock %}