{% extends 'Main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href=" {% static 'leisure/css/leisure.css' %} ">
{% endblock %}

{% block content %}
    <h1 class = "h1">Шамільова Уляна</h1>
    <h1 class = "h2">Устич Павло</h1>
    <h1 class = "h3">Назар Зозуля</h1>
    <h1 class = "h4">Кошнарьов Данило</h1>
    <p class = "p1"> Створили на мові <br>програмування Python такі <br>додатки: редактор фото,<br> музичний плеєр, <br>генератор QR-кодів <br>та калькулятор.</p>
    <p class="p2">створили на мові програмування <br>Python такі додатки: <br>редактор фото, музичний плеєр,<br> генератор QR-коді.</p>
    <p class = "p3">Сайт для покупки їжі <br>домашнім тваринам</p>
    <p class = "p4">Створили на мові програмування <br>Python такі додатки: редактор <br>фото, музичний плеєр, генератор<br> QR-кодів та калькулятор.</br> </p>

{% endblock %}