{% extends 'Main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'Main/css/main.css' %}">
{% endblock %}
{% block content %}


</style>
    <img class = Ulyana src="{% static 'Main/img/Ulyana.jpg' %}" alt="">
    <img class = Pasha src="{% static 'Main/img/Pasha.jpg' %}" alt="">
    <img class = Nazar src="{% static 'Main/img/Nazar.jpg' %}" alt="">
    <img class = Danil src="{% static 'Main/img/Danil.jpg' %}" alt="">
    <p class = p1>Шамільова Уляна, 14 років</p>
    <p class = p2>Устич Павло, 13</p>
    <p class = p3>Назар Зозуля, 15</p>
    <p class = p4>Кошнарьов Даніл, 16</p>
{% endblock %}