* {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(234, 236, 189);
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 165, 106);
    min-width: 100%;
}

body{
    background-color: rgb(234, 236, 189);
}
